body {
	display: flex;
	font-family: DM Sans;
	height: 100vh;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	margin: 0 auto;
	background: #111;
}
.container {
	margin: auto;
	font-family: DM Sans;
	display: flex;
	align-self: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	padding: 20px;
	height: auto;
	background: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 20px;
}

.brandImg {
	align-self: flex-end;
	margin: 0px 10px;
	width: 60px;
	height: auto;
}
.topContainer {
	width: 400px;
	margin: 10px 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
}

.topContainer button {
	flex: 1 1 50px;
	padding: 10px 0px;
	border-radius: 10px;
	border: 1px solid #919191;
}
/* 
.inputBox {
	margin: 20px;
	font-size: 40px;
	max-width: 380px;
	padding: 10px;
	text-align: right;
	border-radius: 7px;
	border: 1px solid #ccc;
	flex: 1;
} */

.bottomContainer {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
}

.calDisplay {
	border: 5px solid #ccc;
	background: #fff;
	padding: 10px 20px;
	width: 340px;
	height: 50px;
	line-height: 1em;
	font-size: 25px;
	font-family: DM Sans;
	font-weight: bold;
	margin: 10px;
	border-radius: 10px;
	text-align: right;
}

.displayDiv {
	font-size: 24px;
}

.referenceDiv {
	height: 30px;
	font-family: dm Sans;
	margin-top: -10px;
	margin-right: -10px;
	font-size: 10px;
	color: darkblue;
}

.numberContainer {
	font-family: DM Sans;
	display: flex;
	margin: 10px 0px;
	justify-items: start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.numberContainer button {
	font-family: DM Sans;
	font-weight: bold;
	font-size: 18px;
	flex: 1 1 20%;
	padding: 10px 0px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.operatorContainer {
	max-width: 500px;
	display: flex;
	margin: 10px 0px;
	justify-items: start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.operatorContainer button {
	flex: 1 1 30px;
	padding: 20px 0px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.inputValue h2 {
	font-size: 40px;
}

.numberButton {
	background-color: grey;
	color: #fff;
}
